<!DOCTYPE HTML>
<html>
<head>
    <title>Kevin He - Digital Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div id="mainpage">
        <div class="text">
            <h1><span class="whitebg">MAISHacks Project 2023</span></h1><br>
            <p>Import your song file here</p><br>
            <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="file" name="file" accept=".mp3">
                <button type="submit">Upload</button>
            </form>
        </div>
        <div>
            <a href="/run_python_script" class="button">Record</a>
            <a href="/run_python_script" class="button">Speech Recognition</a>
        </div>
    </div>
</body>
</html>
